/bower_components
/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/public/bower_components
/config/local/
/config/database.php
/node_modules
/public/script.js
/public/script.min.js
/public/css
